.contenedor__video{
    position: relative;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: flex-start;
    h1{
        font-size: 1rem;
        width: 192px;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        margin: 4px;
        font-family: $fuente_principal;
        font-weight: $bold;
        color: white;
    }
}