@font-face {
    font-family: 'Urbane';
    src: url('../../../font/Urbane Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

// Fuentes
$fuente_principal: 'Urbane', sans-serif;

// Colores
$negro: #000000;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900